<p id="notice"><%= notice %></p>

<p>
  <strong>Water:</strong>
  <%= @log.water %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @log.sleep %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @log.workout %>
</p>

<p>
  <strong>Food:</strong>
  <%= @log.food %>
</p>

<%= link_to 'Edit', edit_user_log_path(@log) %> |
<%= link_to 'Back', user_logs_path %>
