<h1>logs#show</h1>
<%= @log.date %>

<%= @log.created_at %>

</br>
<%= @log.caloricIntake %>

</br>
<%= @log.waterIntake %>

</br>
<%= @log.slept %>

</br>
<%= @log.workout %>

</br>
<%= @log.weeklygoal %>

</br>
<%= @log.weeklyweight %>

</br>
<%= @log.weightlost %>

</br>
<%= @log.weightgain %>

</br>
<%= @log.bonusPoints %>

</br>
<%= @log.totalPoints %>

</br>
<%= @log.weeklyPoints %>

</br>
<p>test</p>
<%= link_to "Edit to Log", edit_user_log_path(@user) %></br>
